# NFT Assets
assets/raw/
assets/processed/

# Node
node_modules/
.env

# Build directories
website/frontend/build/
website/frontend/dist/
website/frontend/.next/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log